@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f0f0f0;
}

header {
    background-color: #eaace4;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav .logo img {
    height: 110px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: transform 0.3s, color 0.3s;
}

nav ul li a:hover {
    color: #9d0d8c;
    transform: scale(1.1);
}

.btn-book {
    background-color: #9d0d8c;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-book:hover {
    background-color: #d7a718;
    transform: scale(1.1);
}

.hero {
    position: relative;
    height: 60vh;
    overflow: hidden;
    color: #9d0d8c;
    text-align: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
}

.hero-content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-text {
    flex: 1;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-content .btn {
    display: inline-block;
    background-color: #9d0d8c;
    color: #f8f0fa;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: transform 0.3s, background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #d7a718;
    transform: scale(1.1);
}

.hero-img {
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    width: 150px;
}

.hero-img-left {
    left: 5%;
    width: 480px;
}

.hero-img-right {
    right: 5%;
    width: 480px;
}

.features {
    padding: 4rem 2rem;
    background: white;
    color: #9d0d8c;
    width: 100%;
    text-align: center;
}

.features-text {
    margin-bottom: 3rem;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features p {
    font-size: 1.2rem;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card {
    background: white;
    border: 2px solid #eaace4;
    border-radius: 15px;
    padding: 2rem;
    width: 30%;
    margin: 1rem;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.feature-card:hover .feature-content {
    opacity: 1;
    transform: translateY(0);
}

.feature-circle {
    background: #eaace4;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
}

.feature-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.feature-content img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.feature-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.feature-info-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: #9d0d8c;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: transform 0.3s, background-color 0.3s;
}

.feature-info-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: #9d0d8c;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.feature-info-icon img {
    width: 20px;
    height: 20px;
}

.feature-info-icon:hover {
    background-color: #d7a718;
    transform: scale(1.1) translateZ(20px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.about,
.services,
.contact {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
}

.about {
    background-color: #f8f0fa;
    flex-direction: row-reverse;
}

.about .about-text,
.services .services-text,
.contact .contact-text {
    flex: 3;
    padding: 3rem;
}

.about .about-image,
.services .services-image,
.contact .contact-image {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.about .about-image img,
.services .services-image img,
.contact .contact-image img {
    max-width: 100%;
    border-radius: 5px;
}

.about h2,
.services h2,
.contact h2 {
    font-size: 2.5rem;
    color: #9d0d8c;
    margin-bottom: 1rem;
}

.about p,
.services p,
.contact p {
    font-size: 1.2rem;
}

.services {
    padding: 4rem 3rem;
    background-color: rgba(255, 255, 255, 0.87);
    color: #9d0d8c;
    width: 100%;
    text-align: center;
    position: relative;
  }

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 25%;
}

.video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cat-peek {
    position: absolute;
    top: .1rem;
    left: 1rem;
    width: 180px;
    height: auto;
}

.cat-peek img {
    width: 100%;
    height: auto;
}

.services-text {
    margin-bottom: 3rem;
    padding: 0 2rem;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.services p {
    font-size: 1.2rem;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.service-card {
    background: white;
    border: 2px solid #eaace4;
    border-radius: 15px;
    padding: 4rem;
    width: calc(45% - 2rem);
    margin: 1rem;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.service-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.service-card p,
.service-card .btn {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}

.service-card:hover p {
    opacity: 1;
    height: auto;
}

.service-card:not(:hover) .btn {
    opacity: 1;
    height: auto;
}

.service-card .btn {
    display: inline-block;
    background-color: #9d0d8c;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 1rem;
}

.service-card .btn:hover {
    background-color: #d7a718;
    transform: scale(1.1);
}

.contact {
    background-color: #f8f0fa;
    flex-direction: row-reverse;
}

.contact .contact-methods {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .contact-method {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact .contact-method img {
    height: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact form input,
.contact form textarea {
    padding: 1rem;
    border: 1px solid #9d0d8c;
    border-radius: 5px;
    width: 100%;
}

.contact form button {
    padding: 1rem;
    background-color: #9d0d8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #d7a718;
}

footer {
    background-color: #9d0d8c;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.back-to-landing {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9d0d8c;
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 1000;
    transition: transform 0.3s, background-color 0.3s;
}

.back-to-landing img{
    width: 30px;
    height: 30px;
}

.back-to-landing:hover {
    background-color: #d7a718;
    transform: scale(1.1);
}